table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}

.container{
    width: 80%;
    height: auto;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
